<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<listeners>
    <listener class-name="demoProject.SeleniumFramework.Listeners" />
 </listeners>

  <test name="Test" parallel="classes">
    <classes>
      <class name="demoProject.SeleniumFramework.ValidateRegister"/>
      <class name="demoProject.SeleniumFramework.ValidateLogin"/>
      
      <class name="demoProject.SeleniumFramework.ValidateHome"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
